In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:

data = pd.read_csv('yellow2019_0.csv', parse_dates= ['tpep_pickup_datetime','tpep_dropoff_datetime'])
data

,Unnamed: 0,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,0,1.0,2019-02-01 00:59:04,2019-02-01 01:07:27,1.0,2.10,1.0,N,48,234,1.0,9.0,0.5,0.5,2.00,0.00,0.3,12.30,0.0
1,1,1.0,2019-02-01 00:33:09,2019-02-01 01:03:58,1.0,9.80,1.0,N,230,93,2.0,32.0,0.5,0.5,0.00,0.00,0.3,33.30,0.0
2,2,1.0,2019-02-01 00:09:03,2019-02-01 00:09:16,1.0,0.00,1.0,N,145,145,2.0,2.5,0.5,0.5,0.00,0.00,0.3,3.80,0.0
3,3,1.0,2019-02-01 00:45:38,2019-02-01 00:51:10,1.0,0.80,1.0,N,95,95,2.0,5.5,0.5,0.5,0.00,0.00,0.3,6.80,0.0
4,4,1.0,2019-02-01 00:25:30,2019-02-01 00:28:14,1.0,0.80,1.0,N,140,263,2.0,5.0,0.5,0.5,0.00,0.00,0.3,6.30,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3618800,3683096,2.0,2019-02-14 23:35:12,2019-02-14 23:43:02,1.0,0.50,1.0,N,230,161,1.0,6.0,0.0,0.5,2.79,0.00,0.3,12.09,2.5
3618801,3862807,2.0,2019-02-14 23:40:40,2019-02-14 23:54:18,1.0,6.91,1.0,N,138,263,1.0,20.5,0.5,0.5,6.01,5.76,0.3,36.07,2.5
3618802,5978834,2.0,2019-02-14 17:42:43,2019-02-14 17:55:02,4.0,0.00,1.0,N,164,164,2.0,8.5,3.0,0.5,0.00,0.00,0.3,12.30,0.0
3618803,5978835,2.0,2019-02-14 17:56:51,2019-02-14 17:57:29,4.0,0.00,1.0,N,164,164,2.0,2.5,0.5,0.5,0.00,0.00,0.3,3.80,0.0
3618804,5978836,2.0,2019-02-14 17:57:53,2019-02-15 08:51:09,4.0,0.00,1.0,N,164,164,2.0,449.0,0.5,0.5,0.00,0.00,0.3,452.80,2.5

In [3]:
data['travel_time'] = data['dropoff_datetime']-data['pickup_datetime']
data

,Unnamed: 0,Unnamed: 0.1,hvfhs_license_num,dispatching_base_num,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,SR_Flag,zone,zone_drop,travel_time
0,537,537,HV0003,B02872,2019-02-01 00:32:26,2019-02-01 00:38:39,145,145,NaN,queens_1,queens_1,00:06:13
1,897,897,HV0002,B02914,2019-02-01 00:43:46,2019-02-01 00:47:13,145,145,NaN,queens_1,queens_1,00:03:27
2,3497,3497,HV0005,B02510,2019-02-01 00:42:37,2019-02-01 00:48:21,145,145,NaN,queens_1,queens_1,00:05:44
3,7422,7422,HV0003,B02764,2019-02-01 00:44:05,2019-02-01 00:47:37,145,145,NaN,queens_1,queens_1,00:03:32
4,10109,10109,HV0003,B02864,2019-02-01 00:35:20,2019-02-01 00:41:13,145,145,NaN,queens_1,queens_1,00:05:53
5,10297,10297,HV0002,B02914,2019-02-01 00:58:04,2019-02-01 01:03:59,145,145,NaN,queens_1,queens_1,00:05:55
6,12913,12913,HV0003,B02884,2019-02-01 00:34:20,2019-02-01 00:37:35,145,145,NaN,queens_1,queens_1,00:03:15
7,14226,14226,HV0003,B02872,2019-02-01 00:53:37,2019-02-01 00:58:43,145,145,NaN,queens_1,queens_1,00:05:06
8,14854,14854,HV0002,B02914,2019-02-01 00:33:45,2019-02-01 00:38:59,145,145,NaN,queens_1,queens_1,00:05:14
9,17698,17698,HV0002,B02914,2019-02-01 00:44:25,2019-02-01 00:49:02,145,145,NaN,queens_1,queens_1,00:04:37
10,18165,18165,HV0003,B02835,2019-02-01 00:31:58,2019-02-01 00:38:46,145,145,NaN,queens_1,queens_1,00:06:48
11,22829,22829,HV0003,B02865,2019-02-01 00:07:00,2019-02-01 00:11:45,145,145,NaN,queens_1,queens_1,00:04:45
12,24194,24194,HV0003,B02887,2019-02-01 01:01:01,2019-02-01 01:08:11,145,145,NaN,queens_1,queens_1,00:07:10
13,25928,25928,HV0003,B02887,2019-02-01 01:59:36,2019-02-01 02:03:00,145,145,NaN,queens_1,queens_1,00:03:24
14,27165,27165,HV0003,B02864,2019-02-01 01:53:36,2019-02-01 01:57:25,145,145,NaN,queens_1,queens_1,00:03:49
15,29476,29476,HV0005,B02510,2019-02-01 01:48:16,2019-02-01 01:56:29,145,145,1.0,queens_1,queens_1,00:08:13
16,30143,30143,HV0003,B02764,2019-02-01 01:14:13,2019-02-01 01:15:48,145,145,1.0,queens_1,queens_1,00:01:35
17,36350,36350,HV0005,B02510,2019-02-01 01:22:06,2019-02-01 01:22:26,145,145,1.0,queens_1,queens_1,00:00:20
18,36736,36736,HV0005,B02510,2019-02-01 01:07:06,2019-02-01 01:14:14,145,145,1.0,queens_1,queens_1,00:07:08
19,36867,36867,HV0003,B02765,2019-02-01 01:36:06,2019-02-01 01:38:19,145,145,NaN,queens_1,queens_1,00:02:13
20,36868,36868,HV0003,B02765,2019-02-01 01:53:24,2019-02-01 02:00:07,145,145,NaN,queens_1,queens_1,00:06:43
21,40688,40688,HV0003,B02836,2019-02-01 02:16:15,2019-02-01 02:21:50,145,145,NaN,queens_1,queens_1,00:05:35
22,41728,41728,HV0002,B02914,2019-02-01 02:39:03,2019-02-01 02:43:14,145,145,NaN,queens_1,queens_1,00:04:11
23,51752,51752,HV0005,B02510,2019-02-01 03:59:47,2019-02-01 04:05:21,145,145,1.0,queens_1,queens_1,00:05:34
24,56530,56530,HV0003,B02882,2019-02-01 04:22:37,2019-02-01 04:26:51,145,145,NaN,queens_1,queens_1,00:04:14
25,59113,59113,HV0003,B02764,2019-02-01 04:04:43,2019-02-01 04:09:42,145,145,NaN,queens_1,queens_1,00:04:59
26,60265,60265,HV0003,B02869,2019-02-01 05:45:38,2019-02-01 05:51:35,145,145,NaN,queens_1,queens_1,00:05:57
27,60266,60266,HV0003,B02869,2019-02-01 05:55:17,2019-02-01 05:58:18,145,145,NaN,queens_1,queens_1,00:03:01
28,65191,65191,HV0003,B02866,2019-02-01 05:48:53,2019-02-01 05:54:00,145,145,NaN,queens_1,queens_1,00:05:07
29,69520,69520,HV0003,B02764,2019-02-01 05:42:30,2019-02-01 05:46:32,145,145,NaN,queens_1,queens_1,00:04:02
...,...,...,...,...,...,...,...,...,...,...,...,...
10098312,7441432,7441432,HV0003,B02875,2019-02-11 03:52:08,2019-02-11 04:08:37,251,1,NaN,unknown,unknown,00:16:29
10098313,7452645,7452645,HV0003,B02883,2019-02-11 05:36:32,2019-02-11 05:58:23,251,1,NaN,unknown,unknown,00:21:51
10098314,7461356,7461356,HV0003,B02682,2019-02-11 06:57:54,2019-02-11 07:20:34,251,1,NaN,unknown,unknown,00:22:40
10098315,7468252,7468252,HV0005,B02510,2019-02-11 06:31:18,2019-02-11 06:50:23,251,1,NaN,unknown,unknown,00:19:05
10098316,7681502,7681502,HV0003,B02882,2019-02-11 13:38:21,2019-02-11 13:58:25,251,1,NaN,unknown,unknown,00:20:04
10098317,7824359,7824359,HV0003,B02617,2019-02-11 18:48:11,2019-02-11 19:40:59,251,1,NaN,unknown,unknown,00:52:48
10098318,7902115,7902115,HV0005,B02510,2019-02-11 20:27:24,2019-02-11 20:49:29,251,1,NaN,unknown,unknown,00:22:05
10098319,8060069,8060069,HV0003,B02875,2019-02-12 04:47:19,2019-02-12 05:05:55,251,1,NaN,unknown,unknown,00:18:36
10098320,8083643,8083643,HV0003,B02889,2019-02-12 06:18:18,2019-02-12 06:37:47,251,1,NaN,unknown,unknown,00:19:29
10098321,8094240,8094240,HV0003,B02764,2019-02-12 07:25:09,2019-02-12 07:47:58,251,1,NaN,unknown,unknown,00:22:49
10098322,8733157,8733157,HV0003,B02764,2019-02-13 03:50:12,2019-02-13 04:21:31,251,1,NaN,unknown,unknown,00:31:19
10098323,8733660,8733660,HV0003,B02871,2019-02-13 04:26:49,2019-02-13 04:49:17,251,1,NaN,unknown,unknown,00:22:28
10098324,8735849,8735849,HV0003,B02882,2019-02-13 04:20:59,2019-02-13 04:40:47,251,1,NaN,unknown,unknown,00:19:48
10098325,8739869,8739869,HV0002,B02914,2019-02-13 05:49:49,2019-02-13 06:06:04,251,1,NaN,unknown,unknown,00:16:15
10098326,8780259,8780259,HV0003,B02682,2019-02-13 07:28:24,2019-02-13 07:50:23,251,1,NaN,unknown,unknown,00:21:59
10098327,8786400,8786400,HV0003,B02889,2019-02-13 07:26:23,2019-02-13 07:46:35,251,1,NaN,unknown,unknown,00:20:12
10098328,8994105,8994105,HV0003,B02888,2019-02-13 14:44:01,2019-02-13 15:10:40,251,1,NaN,unknown,unknown,00:26:39
10098329,9227646,9227646,HV0005,B02510,2019-02-13 20:36:05,2019-02-13 20:56:29,251,1,NaN,unknown,unknown,00:20:24
10098330,9422371,9422371,HV0005,B02510,2019-02-14 04:43:37,2019-02-14 05:03:14,251,1,NaN,unknown,unknown,00:19:37
10098331,9654346,9654346,HV0003,B02883,2019-02-14 13:15:07,2019-02-14 13:43:14,251,1,NaN,unknown,unknown,00:28:07
10098332,9738992,9738992,HV0005,B02510,2019-02-14 15:25:08,2019-02-14 15:49:46,251,1,1.0,unknown,unknown,00:24:38
10098333,153878,153878,HV0003,B02764,2019-02-01 08:42:17,2019-02-01 08:53:36,1,1,NaN,unknown,unknown,00:11:19
10098334,153879,153879,HV0003,B02764,2019-02-01 08:55:45,2019-02-01 09:01:33,1,1,NaN,unknown,unknown,00:05:48
10098335,201807,201807,HV0003,B02764,2019-02-01 09:07:05,2019-02-01 09:47:13,1,1,NaN,unknown,unknown,00:40:08
10098336,3111459,3111459,HV0005,B02510,2019-02-05 04:55:44,2019-02-05 05:23:59,1,1,NaN,unknown,unknown,00:28:15
10098337,3291666,3291666,HV0005,B02510,2019-02-05 12:50:09,2019-02-05 13:25:47,1,1,NaN,unknown,unknown,00:35:38
10098338,3915509,3915509,HV0005,B02510,2019-02-06 13:27:43,2019-02-06 13:27:57,1,1,NaN,unknown,unknown,00:00:14
10098339,5902805,5902805,HV0003,B02764,2019-02-09 06:36:23,2019-02-09 06:39:49,1,1,1.0,unknown,unknown,00:03:26
10098340,7086570,7086570,HV0005,B02510,2019-02-10 15:50:14,2019-02-10 16:45:01,1,1,NaN,unknown,unknown,00:54:47
10098341,8105029,8105029,HV0005,B02510,2019-02-12 07:31:00,2019-02-12 08:12:21,1,1,NaN,unknown,unknown,00:41:21

In [ ]:
data.to_csv

In [5]:
data.groupby(data['tpep_pickup_datetime'].dt.hour).count()

,Unnamed: 0,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,,
0,100149,100149,100149,100149,100149,100149,100149,100149,100149,100149,100149,100149,100149,100149,100149,100149,100149,100149,100149
1,70027,70027,70027,70027,70027,70027,70027,70027,70027,70027,70027,70027,70027,70027,70027,70027,70027,70027,70027
2,49976,49976,49976,49976,49976,49976,49976,49976,49976,49976,49976,49976,49976,49976,49976,49976,49976,49976,49976
3,35304,35304,35304,35304,35304,35304,35304,35304,35304,35304,35304,35304,35304,35304,35304,35304,35304,35304,35304
4,27214,27214,27214,27214,27214,27214,27214,27214,27214,27214,27214,27214,27214,27214,27214,27214,27214,27214,27214
5,33338,33338,33338,33338,33338,33338,33338,33338,33338,33338,33338,33338,33338,33338,33338,33338,33338,33338,33338
6,79632,79632,79632,79632,79632,79632,79632,79632,79632,79632,79632,79632,79632,79632,79632,79632,79632,79632,79632
7,141016,141016,141016,141016,141016,141016,141016,141016,141016,141016,141016,141016,141016,141016,141016,141016,141016,141016,141016
8,174057,174057,174057,174057,174057,174057,174057,174057,174057,174057,174057,174057,174057,174057,174057,174057,174057,174057,174057
9,174901,174901,174901,174901,174901,174901,174901,174901,174901,174901,174901,174901,174901,174901,174901,174901,174901,174901,174901
10,170649,170649,170649,170649,170649,170649,170649,170649,170649,170649,170649,170649,170649,170649,170649,170649,170649,170649,170649
11,174470,174470,174470,174470,174470,174470,174470,174470,174470,174470,174470,174470,174470,174470,174470,174470,174470,174470,174470
12,185290,185290,185290,185290,185290,185290,185290,185290,185290,185290,185290,185290,185290,185290,185290,185290,185290,185290,185290
13,187132,187132,187132,187132,187132,187132,187132,187132,187132,187132,187132,187132,187132,187132,187132,187132,187132,187132,187132
14,198519,198519,198519,198519,198519,198519,198519,198519,198519,198519,198519,198519,198519,198519,198519,198519,198519,198519,198519
15,203571,203571,203571,203571,203571,203571,203571,203571,203571,203571,203571,203571,203571,203571,203571,203571,203571,203571,203571
16,193258,193258,193258,193258,193258,193258,193258,193258,193258,193258,193258,193258,193258,193258,193258,193258,193258,193258,193258
17,218037,218037,218037,218037,218037,218037,218037,218037,218037,218037,218037,218037,218037,218037,218037,218037,218037,218037,218037
18,245079,245079,245079,245079,245079,245079,245079,245079,245079,245079,245079,245079,245079,245079,245079,245079,245079,245079,245079
19,226452,226452,226452,226452,226452,226452,226452,226452,226452,226452,226452,226452,226452,226452,226452,226452,226452,226452,226452
20,201501,201501,201501,201501,201501,201501,201501,201501,201501,201501,201501,201501,201501,201501,201501,201501,201501,201501,201501
21,196176,196176,196176,196176,196176,196176,196176,196176,196176,196176,196176,196176,196176,196176,196176,196176,196176,196176,196176
22,189333,189333,189333,189333,189333,189333,189333,189333,189333,189333,189333,189333,189333,189333,189333,189333,189333,189333,189333
23,143724,143724,143724,143724,143724,143724,143724,143724,143724,143724,143724,143724,143724,143724,143724,143724,143724,143724,143724

In [6]:
pickupdf=data.sort_values(by=['tpep_pickup_datetime'])
pickupdf

,Unnamed: 0,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
5327,5514,4.0,2019-02-01 00:00:00,2019-02-01 00:06:27,1.0,1.86,1.0,N,230,239,1.0,8.0,0.5,0.5,1.86,0.0,0.3,11.16,0.0
215816,216122,2.0,2019-02-01 00:00:00,2019-02-01 18:06:48,1.0,0.01,1.0,N,75,264,2.0,2.5,1.0,0.5,0.00,0.0,0.3,4.30,0.0
693,718,1.0,2019-02-01 00:00:00,2019-02-01 00:18:57,1.0,5.30,1.0,N,164,52,2.0,17.5,0.5,0.5,0.00,0.0,0.3,18.80,0.0
6726,6970,1.0,2019-02-01 00:00:00,2019-02-01 00:18:52,1.0,3.00,1.0,N,170,107,2.0,14.0,0.5,0.5,0.00,0.0,0.3,15.30,0.0
2141,2207,1.0,2019-02-01 00:00:02,2019-02-01 00:16:33,1.0,4.30,1.0,N,68,41,1.0,16.0,0.5,0.5,3.45,0.0,0.3,20.75,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3613571,3614021,1.0,2019-02-14 23:59:55,2019-02-15 00:10:25,1.0,1.40,1.0,N,50,163,2.0,8.5,3.0,0.5,0.00,0.0,0.3,12.30,2.5
3618668,3623458,2.0,2019-02-14 23:59:57,2019-02-15 00:09:43,1.0,1.87,1.0,N,161,246,1.0,9.0,0.5,0.5,2.56,0.0,0.3,15.36,2.5
3618650,3622778,2.0,2019-02-14 23:59:57,2019-02-15 00:05:00,1.0,0.96,1.0,N,170,163,1.0,5.5,0.5,0.5,0.70,0.0,0.3,10.00,2.5
3618689,3624180,2.0,2019-02-14 23:59:57,2019-02-15 00:08:03,1.0,1.86,1.0,N,148,170,1.0,8.0,0.5,0.5,2.36,0.0,0.3,14.16,2.5
3614801,3615255,1.0,2019-02-14 23:59:58,2019-02-15 00:06:10,1.0,1.00,1.0,N,181,65,2.0,6.5,0.5,0.5,0.00,0.0,0.3,7.80,0.0

In [7]:
pickup_byhour=data.groupby([data['tpep_pickup_datetime'].dt.hour,data['PULocationID']]).size()
pickup_byhour
pickup_byhour=pd.DataFrame(pickup_byhour)
pickup_byhour.to_csv('YELLOW_pickup_byhour.csv')

In [8]:
pickup_byday=data.groupby([data['tpep_pickup_datetime'].dt.day,data['PULocationID']]).size()
pickup_byday
pickup_byday=pd.DataFrame(pickup_byday)
pickup_byday.to_csv('YELLOW_pickup_byday.csv')

In [13]:
pickuppeak_time=data.groupby([data['tpep_pickup_datetime'].dt.hour]).size()
pickuppeak_time

tpep_pickup_datetime
0     100149
1      70027
2      49976
3      35304
4      27214
5      33338
6      79632
7     141016
8     174057
9     174901
10    170649
11    174470
12    185290
13    187132
14    198519
15    203571
16    193258
17    218037
18    245079
19    226452
20    201501
21    196176
22    189333
23    143724
dtype: int64

In [9]:
dropoffdf=data.sort_values(by=['tpep_dropoff_datetime'])
dropoffdf

,Unnamed: 0,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
3213617,3214008,1.0,2019-02-13 15:15:00,2018-02-13 17:34:31,1.0,21.30,2.0,N,132,88,2.0,52.0,2.5,0.5,0.00,5.76,0.3,61.06,2.5
5822,6033,2.0,2019-02-01 00:00:43,2019-02-01 00:00:50,3.0,0.06,1.0,N,238,239,2.0,2.5,0.5,0.5,0.00,0.00,0.3,3.80,0.0
202,208,2.0,2019-02-01 00:01:38,2019-02-01 00:01:41,1.0,0.00,5.0,N,264,265,1.0,50.0,0.0,0.5,5.00,0.00,0.3,55.80,0.0
4682,4846,1.0,2019-02-01 00:01:00,2019-02-01 00:01:51,1.0,1.70,1.0,N,79,79,3.0,2.5,0.5,0.5,0.00,0.00,0.3,3.80,0.0
1638,1688,2.0,2019-02-01 00:02:01,2019-02-01 00:02:04,1.0,0.00,5.0,N,264,79,1.0,6.5,0.0,0.0,1.36,0.00,0.3,8.16,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3608617,3609053,2.0,2019-02-14 23:39:50,2019-02-15 23:32:27,5.0,11.07,1.0,N,48,18,2.0,33.5,0.5,0.5,0.00,0.00,0.3,37.30,2.5
3612221,3612665,2.0,2019-02-14 23:58:56,2019-02-15 23:32:59,2.0,2.19,1.0,N,231,164,2.0,10.0,0.5,0.5,0.00,0.00,0.3,13.80,2.5
3612177,3612621,2.0,2019-02-14 23:52:47,2019-02-15 23:37:23,2.0,0.34,1.0,N,161,142,1.0,5.5,0.5,0.5,0.93,0.00,0.3,10.23,2.5
3609832,3610272,2.0,2019-02-14 23:40:35,2019-02-15 23:38:08,6.0,0.26,1.0,N,249,249,2.0,3.5,0.5,0.5,0.00,0.00,0.3,7.30,2.5
1581419,1581741,1.0,2019-02-07 07:28:18,2019-02-25 08:36:17,1.0,3.40,1.0,N,186,261,2.0,15.0,2.5,0.5,0.00,0.00,0.3,18.30,2.5

In [10]:
dropoff_byhour=data.groupby([data['tpep_dropoff_datetime'].dt.hour,data['DOLocationID']]).size()
dropoff_byhour
dropoff_byhour=pd.DataFrame(dropoff_byhour)
dropoff_byhour.to_csv('YELLOW_dropoff_byhour.csv')

In [12]:
dropoff_byday=data.groupby([data['tpep_dropoff_datetime'].dt.day,data['DOLocationID']]).size()
dropoff_byday
dropoff_byday=pd.DataFrame(dropoff_byday)
dropoff_byday.to_csv('YELLOW_dropoff_byday.csv')

In [14]:
dropoffpeak_time=data.groupby([data['tpep_dropoff_datetime'].dt.hour]).size()
dropoffpeak_time

tpep_dropoff_datetime
0     110402
1      76209
2      53683
3      36931
4      28748
5      29941
6      69260
7     124611
8     165976
9     176343
10    172743
11    172003
12    185378
13    184529
14    193014
15    203658
16    194196
17    209188
18    245255
19    236749
20    204880
21    197431
22    192920
23    154757
dtype: int64